#markdownDigital table tr{border-bottom:1px solid #888;}
#markdownDigital table th{text-align:center;padding:5px 2px;font-weight:700;}
#markdownDigital table td{text-align:left;padding:2px 6px;vertical-align:middle;color:green;}
#markdownDigital table td:nth-child(4),
#markdownDigital table td:nth-child(6){text-align:center;}
#markdownDigital table tr.doute td{color:#0b4a6a;}
#markdownDigital table tr.pirate td{color:red;}
#markdownDigital table td.yesno{text-decoration:underline;cursor:pointer;}
#markdownDigital table td span.suppUrl{display:inline-block;width:14px;height:14px;vertical-align:bottom;margin:0 0 3px 4px;}
#curMarkdown td{vertical-align:middle;}
